.app-header {
    min-height: 60px;
    max-height: 60px;
    padding: 0 0.75em;
    display: flex;
    align-items: center;
    color: #fff;
    background: #566d7e;
}

.app-header-text {
    font-size: 2em;
}

.app-header-logo {
    height: 50px;
    width: 50px;
    margin-right: 1.5em;
}
